{% extends 'base.html.twig' %}

{% block title %}Upload book{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.file) }}

        <p>{{ form_row(form.submit, { 'label': 'Upload' }) }}</p>
    {{ form_end(form) }}
{% endblock %}
